head, body {
    margin: 0;
    padding: 0;
}

canvas {
    display: block;
    z-index: 0;
}
#startButton{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    color: #000;
    font-family: Arial;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    z-index: 100;
}
#startButton:focus ~#startButton {
    visibility: hidden;
    pointer-events: none;
}
#startButton:active ~#startButton{
    visibility: hidden;
    pointer-events: none;
}

